
<%= form_with(model: room, local: true, html: {style: "
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
"}) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-label-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-label-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <br />

  <div class="actions">
    <%= form.submit class: "btn btn-lg btn-primary btn-block"%>
  </div>
<% end %>
